<html>
  <head>
    <title>Testing somethings</title>
    <style>
      .level {
        border: 1px solid black;
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <p> Root Layout </p>
    <div class="level">
      <slot />
    </div>
  </body>  
</html>
