import './index.css';

<context>
  <container>
    <get/{updateValue} = "context" />
    <section>
      <let/value = 123 />
      <code value := value />
      <effect() {updateValue(value)} />
    </section>
    <section>
      <output />
    </section>
  </container>
</context>
