<div.root>
  <h1>
    Pollo JS
  </h1>
  <p>The all inclusive Marko meta-framework</p>
  <p>Start by viewing the <a href='/docs'>docs</a>. </p>
</div>

<style>
  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>