export function match(p) {
  return true;
}

export function load() {
  return 10;
}

<load/{value} />

<let/counter=value />
<div>${counter}</div>
<button onClick(){counter = counter+1;}>Click</button>